@font-face {
  font-family: "alright_sansmedium";
  font-style: normal;
  font-weight: normal;
  src: url("./font/SansMediumNormal.woff") format("woff");
}

.title {
	font-family: alright_sansmedium,HelveticaNeue,Helvetica,Arial,sans-serif;
	font-size: 1.4375em;
	font-weight: normal;
	color: #3e433e;
	line-height: 1.3;
	display:inline;
	vertical-align:middle;
}

.title a {
    text-decoration: none;
    color: #3e433e;
}

.title a:hover {
	color: #089E00;
}

